*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #3a3ae4, #ba55de );
}

.div-Box{
  background: #f4f4f4;
  background: linear-gradient(10deg, #fffdfd, #dad9d9) ;
  width: 450px;
  height: 240px;
  border: none;
  border-radius: 8px;
  margin: 100px auto;

  /* position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.div-Box p{ 
  font-weight: 600;
  font-size: 20px;
  padding: 15px 5px;
  margin: 5px 30px ;

}

#input_Box{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* background: #d4d6d4; */
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 30px;
 
}

#input_Box input{
  font-size: 18px;
  background: rgb(218, 218, 218);
  border-radius: 20px;
  width: 350px;
  margin-right: -105px;
  padding: 10px 15px;
  border: none;
}

#input_Box button{
  font-size: 18px;
  width: 100px;
  border-radius: 20px;
  color: rgb(235, 235, 235);
  background: #f96f3d;
  padding: 10px 15px;
  border: none;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 10px 10px 12px 30px;
  user-select: none;
  cursor: pointer;
}
